page-page2 {
    .titleicon {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align:center;
    }
    .bottomTitleicon {
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align:center;
    }
}
