<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="titleicon">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Ameren_logo.svg/2000px-Ameren_logo.svg.png" width="100px" style="margin-bottom:9px;margin-right:10px;" />
   </div>
    <ion-title>Project Lists</ion-title>
  <!--<ion-buttons end>
      <button ion-button icon-only (click)="reorderNow()">
        <ion-icon [name]="reorderIcon"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
  
</ion-header>


<ion-content>


  <ion-list>

    <ion-item-divider color="light">Projects </ion-item-divider>
    <ion-item-group [reorder]="reorder" (ionItemReorder)="reorderTopics($event)">
      <!--<ion-item-sliding *ngFor="let topic of topics">
        <ion-item (click)="itemTapped($event, topic)" detail-push>-->

        <!-- <ion-item  *ngFor="let topic of topics | slice:0:8; let i = index;" (click)="itemTapped($event, topic)" detail-push>
          
          <ion-thumbnail item-left>
            <img src="{{topic.icon}}">
          </ion-thumbnail>
          <h2>{{topic.title}}</h2>
          <p>{{topic.note}}, {{topic.time}}</p>

          <p>Last Score: {{topic.hiScore || '(Not attempted)'}} {{topic.hiScore ? '%' : '' }}</p>
        </ion-item> -->

        <ion-grid fixed>
        <ion-row responsive-sm>
            <ion-searchbar
            [showCancelButton]="shouldShowCancel"
            (ionInput)="filterItems($event)"
            (ionCancel)="onCancel($event)">
          </ion-searchbar>
          <ion-col col-md  *ngFor="let topic of topics | slice:0:8; let i = index;" (click)="itemTapped($event, topic)" >
              <!--  <ion-thumbnail item-left>
                 <img src="{{topic.icon}}">
                </ion-thumbnail>
                <h2>{{topic.title}}</h2>
                <p>{{topic.note}}, {{topic.time}}</p>
      
                <p>Last Score: {{topic.hiScore || '(Not attempted)'}} {{topic.hiScore ? '%' : '' }}</p> -->


              


                    <ion-card>
                        <!-- <ion-thumbnail item-center style="width:50%;height:50%">
                          <img src="{{topic.icon}}">
                        </ion-thumbnail> -->
                        <i class="fa fa-plus" aria-hidden="true"></i>
                          <ion-fab right top>
                            <button ion-fab *ngIf="topic.score>60" color="secondary">
                              <ion-icon  name=""> <label style="font-family:arial;font-size:1.9rem;font-weight:bold">{{topic.score}}%</label></ion-icon>
                            </button>
                            <button ion-fab *ngIf="topic.score<30" color="danger">
                                <ion-icon  name=""><label style="font-family:arial;font-size:1.9rem;font-weight:bold">{{topic.score}}%</label></ion-icon>
                              </button>
                              <button ion-fab *ngIf="topic.score>30 && topic.score<60" color="orange">
                                  <ion-icon  name=""><label style="font-family:arial;font-size:1.9rem;font-weight:bold">{{topic.score}}%</label></ion-icon>
                                </button>
                          </ion-fab>
                        
                          <ion-item>
                            <ion-icon name="football" item-start large></ion-icon>
                            <h2>{{topic.title}}</h2>
                            <p>{{topic.note}}, {{topic.time}}</p>
                          </ion-item>
                        
                          <ion-item>
                            <ion-icon name="wine" item-start large ></ion-icon>
                            <h2>Sponsor: {{topic.sponsor}}</h2>
                            <!-- <p>14 S. Hop Avenue, Madison, WI 53703</p> -->
                            <p>Last Updated: {{topic.hiScore || '(Not attempted)'}} {{topic.hiScore ? '%' : '' }}</p>
                          </ion-item>
                        
                          <ion-item>
                            <span item-start>18 min</span>
                            <span item-start>(2.6 mi)</span>
                            <button ion-button icon-start clear item-end>
                              <ion-icon name="navigate"></ion-icon>
                              Start
                            </button>
                          </ion-item>
                        
                        </ion-card>
    




          </ion-col>
         
        </ion-row>
        </ion-grid>

        <!--<ion-item-options side="left">
          <button ion-button (click)="favorite(item)"><ion-icon name="star"></ion-icon>Favorite</button>
          <button ion-button color="danger" (click)="share(item)"><ion-icon name="share"></ion-icon>Share</button>
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="unread(item)"><ion-icon name="trash"></ion-icon>Delete</button>
        </ion-item-options>-->

      <!--</ion-item-sliding>-->
    </ion-item-group>
   
    <!-- <ion-item-divider color="light">Mock Exams</ion-item-divider>
    <ion-item-group [reorder]="reorder" (ionItemReorder)="reorderExams($event)">
      <ion-item *ngFor="let exam of topics | slice:8:10; let i = index;" (click)="itemTapped($event, exam)" detail-push>
        <ion-thumbnail item-left>
          <img src="{{exam.icon}}">
        </ion-thumbnail>
        <h2>{{exam.title}}</h2>
        <p>{{exam.note}}, {{exam.time}}</p>
         <p>Last Score: {{exam.hiScore || '(Not attempted)'}} {{exam.hiScore ? '%' : '' }}</p>
      </ion-item>
    </ion-item-group> -->

  </ion-list>


 <!-- <ion-fab bottom right >
   <button ion-fab>  <ion-icon name="share"></ion-icon></button>
   <ion-fab-list side="top">
     <button ion-fab (click)="shareViaFacebook()"> <ion-icon name="logo-facebook"></ion-icon></button>
     <button ion-fab (click)="shareViaTwitter()"> <ion-icon name="logo-twitter"></ion-icon></button>
     <button ion-fab (click)="shareViaWhatsapp()"><ion-icon name="logo-whatsapp"></ion-icon></button>
     <button ion-fab (click)="shareViaInstagram()"> <ion-icon name="logo-instagram"></ion-icon></button>
     <button ion-fab (click)="shareViaSMS()"> <ion-icon name="text"></ion-icon></button>
     <button ion-fab (click)="regularShare()"> <ion-icon name="share-alt"></ion-icon></button>
     <button ion-fab (click)= "shareViaMail()"><ion-icon name="mail"></ion-icon></button>
       
   </ion-fab-list>
 </ion-fab> -->



 <ion-fab top right >
    <button ion-fab color="primary">  <ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>


<ion-footer >
    <ion-toolbar color="primary">
      <ion-title>
        <ion-grid>

          <ion-row> <div class="bottomTitleicon">Ameren EA</div></ion-row>
          <ion-row>  
              <div class="bottomTitleicon">
                 
                  <label style='text-align:right;color:#ede7e7;padding: 0 12px;font-size:1.5rem'>Contact Us: fshaikh@ameren.com</label>
             </div>
          </ion-row>
        </ion-grid>
     </ion-title>  
      
    </ion-toolbar>
  </ion-footer>