<ion-header>

  <ion-navbar color="salmon">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Practice Exam</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<p></p>

 <div id="quiz"  *ngIf="data != undefined && data.quiz != undefined && !showReview">
            <div class="center">
                <img height="80" width="80" src="{{data.quiz.logo}}" />
                <h1>  {{selectedTopic.title || "sdfsdf"}}</h1>
            </div>

          <!--  <div class="center " ng-if="showTimer">
                <button class="button button-outline button-balanced center">
                    <i class="ion-android-alarm-clock larger "></i> &nbsp;
                    <timer countdown="timer" max-time-unit="'minute'" interval="1000" finish-callback="timerElapsed()">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>
                </button>
            </div>-->

                  <ion-card>
                      <ion-item>
                       <p style="text-align:center">Question {{question.Id}} of {{questions.length}}.</p>
                        </ion-item>
                        <ion-card-header>
                        <div class="item item-text-wrap item-divider ">{{question.Name}}</div>
                         </ion-card-header>

                         <ion-card-content>   
                        <!--<div class="item item-text-wrap col-100">-->
                                <!--<ul class="list">-->

                                    <div *ngFor="let option of question.Options">
                                        <!--<li class="item item-checkbox"><label class="checkbox"> 
                                          <input type="checkbox" id="{{option.Id}}" ng-model="option.Selected" ng-change="onSelect(question, option);">
                                            </label> {{option.Name}}
                                
                                          </li>-->

                                          <ion-item>
    
                                          <ion-checkbox color="salmon" checked="false"></ion-checkbox>
                                            <ion-label> {{option.Name}}</ion-label>
                                          </ion-item>
                                    </div>

                                <!--</ul>-->


                        <!--</div>-->
                        </ion-card-content>

<ion-card-header>
                        <div style="text-align:center">
                           
                            <button (click)="left()" ion-button icon-left>
                              <ion-icon name="arrow-back"></ion-icon>
                              Prev
                            </button>


                             <button (click)="right()" ion-button icon-left>
                              Next &nbsp;
                               <ion-icon name="arrow-forward"></ion-icon>
                            </button>

                        </div>
</ion-card-header>
                        <br />
                        <div style="text-align:center">
                           
                            <button (click)="review()" ion-button icon-left>
                              <ion-icon name="list"></ion-icon>
                              Review
                            </button>


                             <button (click)="right()" ion-button icon-left>
                              Submit &nbsp;
                               <ion-icon name="checkmark-circle-outline"></ion-icon>
                            </button>

                        </div>
                        <!--<pagination ng-show="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"
                            ng-change="pageChanged()"></pagination>-->
                </ion-card>
        </div>


<p></p>

















  <div *ngIf="showReview" class="review">
    <p></p>
    <div *ngFor="let question of questions; let i = index;">
      <div (click)="goTo(i + 1)" class="{{ isAnswered(i) == 'Answered'? 'answered': 'not-answered' }}">{{i + 1}}. {{ question }}</div>
    </div>
    <p></p>
     <button  ion-button (click)="closeReview()"> Back </button>
  </div>

</ion-content>