<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page Two</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

 

  <ion-list>
    <ion-item  *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-thumbnail item-left>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
      <p>{{item.note}}</p>
      <button ion-button clear item-right>View</button>
    </ion-item>
  </ion-list>


  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>